<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>{% block title %}Viberr{% endblock %}</title> -->
    {% load staticfiles %}
    <!-- <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'scanapp/base.css' %}"/>
    <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{% static 'scanapp/js/plugin.js' %}"></script>


    <link rel="icon" href="/static/img/favicon.ico" sizes="48x48" />
</head>
<body style="background-color: #353e4f;">
<div class="container"> 
<div class="row">
<div class="col-md-3 col-sm-0 col-xs-0"></div>
<div class="col-md-3 col-sm-0 col-xs-0"></div><br/>
<div class="col-md-6 col-sm-12" id = "success" style="color: white;font-size: 13px;background-color: #4caf50;border-radius: 5px; display: none; width: 90%; text-align: center; margin-left: 5%;">
  * Password Changed Successfully ! *
</div> 
</div>
</div>
<div class="container"> 
<div class="row">
<div class="col-md-3 col-sm-0 col-xs-0"></div>
<div class="col-md-3 col-sm-0 col-xs-0"></div><br/>
<div class="col-md-6 col-sm-12 col-xs-12" id = "error" style="color: white;font-size: 13px;background-color: #af4c4c;border-radius: 5px;display: none ; width: 90%; text-align: center; margin-left: 5%;">
  * Invalid Password ! / Authorization Token Timed Out ! *
</div> 
</div>
</div>

<div class="container" id="main_form"> 

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <div id="contact" style="margin-top: 30%; margin-bottom: 0%">
    <h3>Password Change !</h3>
    <h4>Enter your new password</h4>
    <h4 style="color:#af4c4c;">* Password must be atleast 8 characters long *</h4>
    <!-- <a href="/admin" class = "back"><button name="submit" type="submit" id="contact-submit" class = "back" style="background-color: #4c96af; margin-bottom: 3%; display: none;">Back</button></a> -->
    <form id = "myForm" action="/rest-auth/password/reset/confirm/" method="post" target="dummyframe">
   
    <fieldset>
      <input placeholder="New Password" type="password" tabindex="1" required name="new_password1" style="width: 100%;">
    </fieldset>
    <fieldset>
      <input placeholder="Re Enter New Password" type="password" tabindex="2" required name="new_password2" style="width: 100%;">
    </fieldset>

    <input type="hidden" value = "{{ token }}" required name="token">
    <input type="hidden" value = "{{ uid }}" required name="uid">
    
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" onclick="showBack();">Submit</button>
      <script>
      function showBack() {
        
      }

      $('#myForm')
      .ajaxForm({
        url : '/rest-auth/password/reset/confirm/', // or whatever
        dataType : 'json',
        success : function (response) {
            document.getElementById("success").style.display = "block";
            // document.getElementsByClassName("back").style.display= "block";
            $('#success').delay(4000).fadeOut(300);

        },
        error: function (response) {
            document.getElementById("error").style.display = "block";
            $('#error').delay(4000).fadeOut(300);
        },
    });
      </script>
    </fieldset>
    
  </form>
</div>
</body>
</html>
 <!-- <script>
  function onBodyLoad () {
    plugin.init();
  }
  window.addEventListener('load', onBodyLoad);
</script>

 -->

