<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>{% block title %}Viberr{% endblock %}</title> -->
    {% load staticfiles %}
    <!-- <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'scanapp/base.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{% static 'scanapp/js/plugin.js' %}"></script>
</head>
<body>
<div class="container-flud"> 
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-4" id = "back" style="color: white;font-size: 13px;background-color: darkslategrey;border-radius: 5px; display: none;">
  Credentials Submitted Successfully. Press the back button for more entries!
</div> 
</div>
</div>
<div class="container"> 

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <div id="contact" >
    <h3>Student Account</h3>
    <h4>Enter the aforementioned details</h4>
    <a href="/admin"><button name="submit" type="submit" id="contact-submit" style="background-color: #4c96af; margin-bottom: 3%">Back</button></a>
    <form action="/rest-auth/registration/" method="post" target="dummyframe">
    <fieldset>
      <input placeholder="Admission Number" type="number" tabindex="1" required autofocus name="username" style="width: 100%;">
    </fieldset>
    <fieldset>
      <input placeholder="Phone Number" type="tel" tabindex="2" required name="password1">
    </fieldset>
    <!-- <fieldset>
      <input placeholder="Re Enter Phone Number" type="tel" tabindex="3" required name="password2">
    </fieldset> -->
    
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" onclick="showBack();">Submit</button>
      <script>
      function showBack() {
        document.getElementById("back").style.display = "block";
        $('#back').delay(4000).fadeOut(300);
      }
      </script>
    </fieldset>
    
  </form>
</div>
</body>
</html>
 <!-- <script>
  function onBodyLoad () {
    plugin.init();
  }
  window.addEventListener('load', onBodyLoad);
</script>

 -->

